<div class="uk-overflow-container">
    <table class="xwjs-admin-users-table xwjs-table xwjs-table-striped" xwjs-data-source="/api/auth/users/list">
        <thead>
            <tr>
                <th class="xwjs-width-2-10">{{ i18n.__('username') }}</th>
                <th class="xwjs-width-3-10">{{ i18n.__('realname') }}</th>
                <th class="xwjs-hidden-small xwjs-width-3-10">{{ i18n.__('email') }}</th>
                <th class="xwjs-text-center xwjs-hidden-small xwjs-width-1-10">{{ i18n.__('status') }}</th>
                <th class="xwjs-text-center xwjs-width-1-10">{{ i18n.__('actions') }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>