textarea:focus,
input:focus {
    outline: 0;
}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: 0;
}
input[type="submit"]:focus,
input[type="button"]:focus {
    outline: none;
}
input:focus,
textarea:focus,
select:focus {
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.xwjs-form select:focus,
.xwjs-form textarea:focus,
.xwjs-form input:not([type]):focus,
.xwjs-form input[type="text"]:focus,
.xwjs-form input[type="password"]:focus,
.xwjs-form input[type="datetime"]:focus,
.xwjs-form input[type="datetime-local"]:focus,
.xwjs-form input[type="date"]:focus,
.xwjs-form input[type="month"]:focus,
.xwjs-form input[type="time"]:focus,
.xwjs-form input[type="week"]:focus,
.xwjs-form input[type="number"]:focus,
.xwjs-form input[type="email"]:focus,
.xwjs-form input[type="url"]:focus,
.xwjs-form input[type="search"]:focus,
.xwjs-form input[type="tel"]:focus,
.xwjs-form input[type="color"]:focus {
    border-color: #aaa;
    outline: 0;
    background: #fff;
    color: #444444;
}